In [1]:
# named tuple assigns names and numerical value in tuple

In [2]:
#like creating a class

In [3]:
t = (1,2,3)

In [4]:
t[0]

1

In [5]:
from collections import namedtuple

In [7]:
Dog = namedtuple('Dog', 'age breed name') #pass features with spaces. yes its weird...

In [10]:
sam = Dog(age=2,breed='lab', name='Sammy')

In [11]:
sam.age

2

In [12]:
sam[0]

2

In [13]:
Cat = namedtuple('Cat', 'fur claws name')

In [14]:
c = Cat(fur = 'Fuzzy', claws = False, name = 'Kitty')

In [15]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

In [16]:
c.name

'Kitty'

In [17]:
c[2]

'Kitty'